* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --para-small: 1.2rem;
  --para-large: 1.4rem;
  --subHeading-small: 1.6rem;
  --subHeading-large: 1.8rem;
  --heading-small: 2rem;
  --heading-large: 2.4rem;
  --text-color: #212529;
  --primary-color: #ff6b00;
  --primary-color-hover: #ffe2d1;
  --primary-color-disabled: #fff5ef;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

._childContainer {
  margin-top: 80px;
}
