.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  background: #2a3b40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  .header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
  }

  .logo {
    height: 60px;
    width: 60px;
    border-radius: 35px;
  }

  .header h1 {
    margin-top: 0.5rem;
    font-size: 34px;
    color: #f1e2d2;
  }

  a {
    padding: 0.5rem 2rem;
    border-radius: 4px;
    border: none;
    background-color: #f1e2d2;
    color: #2a3b40;
    font-size: 16px;
    transition: all ease 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 5px 0px #f1e2d2;
    }
  }
}
