@mixin flex-container(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $width: 100%,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  width: $width;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
